
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@keyframes breathing {
    0% { transform: scale(1);}
    50% { transform: scale(0.8);}
    100% { transform: scale(1);}
}

body {
    font-family: Karla;
    background-color: #B4D4E2;
    color: #3C3B3B;
    text-align: center;
}

.circle {
    display: flex;
    height: 30vh;
    width: 30vh;
    background-color: #3C3B3B;
    border-radius: 50%;
    animation: breathing;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    color: white;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
}

.additional-min {
    opacity:1;
}