
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@keyframes breathing {
    0% { transform: scale(1);}
    50% { transform: scale(0.8);}
    100% { transform: scale(1);}
}

body {
    font-family: Karla;
    background-color: #F9F8F8;
    color: #88AECA;
    text-align: center;
    font-size:20px;
}

input {
    width:80px;
    padding:4px;
    border-radius:30px;
    border: 3px solid #88AECA;
    font-family: Karla;
    font-size: 20px;
}

label {
    margin-bottom: 20px;
    display: block;
}

input:focus {
    outline: none;
    border: 3px solid #D5C674;
}


img {
    height: 80px;
    
}
header {
    display: flex;
    justify-content: left;
    margin-bottom: 10%;
}

header p {
    position: absolute;
    left:40px;
    top:20px;
}

.circle {
    display: flex;
    height: 30vh;
    width: 30vh;
    border: 10px solid #88AECA;
    border-radius: 50%;
    animation: breathing;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    
    justify-content: center;
    align-items: center;
    margin: 5% 0%;
}
.container {
    display: flex;
    justify-content: center;
}

.additional-min {
    opacity:1;
}

.focus {
    margin: 5% 0%;
}

div.rect {
    margin: 10% 0;
    background-color: #88AECA;
    color: #F9F8F8;
    padding: 12px;
    border-radius: 40px;
    width: 200px;
    display: flex;
    justify-content: center;;
}